﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>SetToGerman</title>
</head>
<body>
	<h1>The German language cookie should now be set</h1>
	<div>
		<a href="/">View home page</a>.
	</div>
</body>
</html>

